<div class="width-20">&nbsp;</div>
<div id="user-account" class="width-60">

    <!-- Фотография пользователя -->
    <div id="user-photo" class="width-30">
        <img class="width-100" src="resources/images/no_photo.png" alt="" ng-show="user.photo.value === ''">
        <img class="width-100" ng-src="{{ user.photo.value }}" alt="" ng-show="user.photo.value !== ''">
        <label for="userfile" class="button blue width-100">
            <span class="fa fa-upload"></span>&nbsp; Загрузить фото
            <input
                    type="file"
                    name="userfile"
                    id="userfile"
                    uploader
                    uploader-url="serverside/libs/krypton/api.php"
                    uploader-data="uploaderData"
                    uploader-on-complete-upload="onCompleteUploadUserPhoto"/>
        </label>
    </div>

    <!-- Личные данные пользователя -->
    <div id="user-info" class="width-70">
        <span class="surname">{{ user.surname.value }}</span>
        <span class="name-fname">{{ user.name.value + " " + user.fname.value }}</span>
        </br></br></br>



        <div class="row">
            <div class="field-label">
                Должность
                <i class="fa fa-spinner fa-spin right" ng-show="position.loading === true"></i>
                <a href class="right" ng-show="position.edit() === false && position.loading === false" ng-click="position.edit(true)">изменить</a>
                <a href class="right red" ng-show="position.edit() === true && position.loading === false" ng-click="position.cancel()">отмена</a>
                <a href class="right margin-right-10 green" ng-show="user.position._change_() === true && user.position.value !== '' && position.loading === false" ng-click="position.save()">сохранить</a>
            </div>
            <span class="field-value" ng-show="user.position.value !== '' && position.edit() === false">{{ user.position.value }}</span>
            <span class="field-value empty" ng-show="user.position.value === '' && position.edit() === false">отсутствует</span>
            <input type="text" class="width-100" ng-model="user.position.value" ng-change="user.position._change_(true)" ng-disabled="position.loading === true" ng-show="position.edit() === true" placeholder="Введите должность">
        </div>
        </br>


        <div class="row">
            <div class="field-label">
                Производственное отделение
                <i class="fa fa-spinner fa-spin right" ng-show="department.loading === true"></i>
                <a href class="right" ng-show="department.edit() === false" ng-click="department.edit(true)">изменить</a>
                <a href class="right red" ng-show="department.edit() === true && department.loading === false" ng-click="department.cancel()">отмена</a>
                <a href class="right margin-right-10 green" ng-show="department.edit() === true && user.departmentId._change_() === true" ng-click="department.save()">сохранить</a>
            </div>
            <span class="field-value" ng-show="user.departmentId.value !== 0 && department.edit() === false">{{ kolenergo.getDepartmentById(user.departmentId.value).title.value }}</span>
            <span class="field-value empty" ng-show="user.departmentId.value === 0 && department.edit() === false">отсутствует</span>
            <select name="" id="" class="width-100" ng-model="user.departmentId.value" ng-options="department.id.value as department.title.value for department in kolenergo.getDepartments()" ng-change="user.departmentId._change_(true)" ng-show="department.edit() === true" ng-disabled="department.loading === true"></select>
        </div></br>


        <div class="row">
            <div class="field-label">
                Структурное подразделение
                <a href class="right">изменить</a>
            </div>
            <span class="field-value">Отдел корпоративных информационных систем управления</span>
            <span class="field-value empty">отсутствует</span>
        </div></br>



        <div class="row">
            <div class="field-label">E-mail</div>
            <span class="field-value" ng-show="user.email.value !== ''">{{ user.email.value }}</span>
            <span class="field-value empty" ng-show="user.email.value === ''">отсутствует</span>
        </div></br>



        <div class="row">
            <div class="field-label">
                <span ng-show="user.phone.value === '' || user.phones.length === 1">Служебный телефон</span>
                <span ng-show="user.phones.length > 1">Служебные телефоны</span>
                <i class="fa fa-spinner fa-spin right" ng-show="phone.loading === true"></i>
                <a href class="right" ng-show="phone.add() === false && phone.edit() === false && phone.loading === false" ng-click="phone.add(true)">добавить</a>
                <a href class="right margin-right-10" ng-show="phone.add() === false && phone.edit() === false && phone.loading === false" ng-click="phone.edit(true)">изменить</a>
                <a href class="right red" ng-show="(phone.edit() === true || phone.add() === true) && phone.loading === false" ng-click="phone.cancel()">отмена</a>
                <a href class="right margin-right-10 green" ng-show="(phone.add() === true && phone.new !== '') || (phone.edit() === true && user.phone._change_() === true)" ng-click="mobile.save()">сохранить</a>
            </div>
            <span class="field-value" ng-show="user.phone.value !== '' && phone.add() === false && phone.edit() === false">{{ user.phone.value }}</span>
            <span class="field-value empty" ng-show="user.phone.value === '' && phone.add() === false && phone.add() === false">отсутствует</span>
            <input type="text" class="width-100" name="" id="" ng-model="phone.new" ng-disabled="phone.loading === true" ng-show="phone.add() === true" placeholder="Введите номер служебного телефона">

            <div class="row" ng-show="phone.edit() === true">
                <input type="text" class="width-100 margin-bottom-5" name="" id="" ng-repeat="phone in user.phones" ng-model="phone">
            </div>
        </div></br>



        <div class="row">
            <div class="field-label">
                Мобильный телефон
                <i class="fa fa-spinner fa-spin right" ng-show="mobile.loading === true"></i>
                <a href class="right" ng-show="user.mobile.value === '' && mobile.add() === false && mobile.edit() === false && mobile.loading === false" ng-click="mobile.add(true)">добавить</a>
                <a href class="right" ng-show="user.mobile.value !== '' && mobile.add() === false && mobile.edit() === false && mobile.loading === false" ng-click="mobile.edit(true)">изменить</a>
                <a href class="right red" ng-show="(mobile.edit() === true || mobile.add() === true) && mobile.loading === false" ng-click="mobile.cancel()">отмена</a>
                <a href class="right margin-right-10 green" ng-show="(mobile.add() === true && mobile.new !== '') || (mobile.edit() === true && user.mobile._change_() === true && user.mobile.value !== '') && mobile.loading === false" ng-click="mobile.save()">сохранить</a>
            </div>

            <span class="field-value" ng-show="user.mobile.value != '' && mobile.add() === false && mobile.edit() === false">{{ user.mobile.value }}</span>
            <span class="field-value empty" ng-show="user.mobile.value === '' && mobile.add() === false && mobile.edit() === false">отсутствует</span>
            <input type="text" class="width-100" ng-model="user.mobile.value" ng-change="user.mobile._change_(true)" ng-disabled="mobile.loading === true" ng-show="mobile.edit() === true" placeholder="Введите номер мобильного телефона">
            <input type="text" class="width-100" ng-model="mobile.new" ng-show="mobile.add() === true" ng-disabled="mobile.loading === true" placeholder="Введите номер мобильного телефона">
        </div>
        </br>



        <div class="row">
            <button class="blue"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Выйти из системы</button>
        </div>

    </div>
</div>
<div class="width-20">&nbsp;</div>