<br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br>
<input type="text"
       style="display: block; margin-left: auto; margin-right: auto; width: 200px;"
       id="testInput"
       ui-date-time-picker
       date-time-picker-enable-time="true"
       ng-model="test">


<br><br><br><br> <br><br><br><br> <br><br><br><br>
<input type="text"
       style="display: block; margin-left: auto; margin-right: auto; width: 200px;"
       id="testInput2"
       ui-date-time-picker
       date-time-picker-modal="true"
       date-time-picker-through-navigation="true"
       date-time-picker-enable-time="true"
       ng-model="test2">


<br><br><br><br> <br><br><br><br> <br><br><br><br>
<input type="button"
       style="display: block; margin-left: auto; margin-right: auto; width: 200px;"
       id="testInput3"
       ui-date-time-picker
       ng-model="test2">