


<div id="telephones">



    <div id="telephones-header" class="row" ng-class="{ 'collapsed': contacts.length > 0 }">
        <div id="telephones-header-bg-layout"></div>
        <div id="telephones-header-content">
            <div id="telephones-search-container">
                <div id="telephones-search">
                    <input type="text" name="" id="" class="width-100 big obtique dark" ng-model="search" placeholder="Введите имя, e-mail или телефон абонента">
                </div>
            </div>
        </div>
    </div>

    <div id="telephones-content" ng-class="{ 'expanded': contacts.length > 0 }">

        <div id="telephones-organizations" class="width-25">
            <span class="caption">Организации</span>

            <div class="row" ng-repeat="org in kolenergo.organizations.getAll() track by $index" ng-init="divisions = kolenergo.divisions.getAll()">
                <hierarchy class="stacked" id="{{ 'org' + $index }}" source="divisions" key="id" parent-key="parentId" display-field="title" on-select="selectDivision"></hierarchy>
                <!-- <tree id="test" key="id" parent-key="parentId" initial-key-value="0" initial-key-type="DATA_TYPE_INTEGER" display="title"></tree> -->
            </div>
        </div>


        <div id="telephones-results" class="width-75">





            <div class="summary" ng-show="contacts.length > 0">
                <span class="counter">Найдено абонентов: <b>{{ contacts.length }}</b></span>
            </div>

            <div class="current-division">
                {{ kolenergo.divisions.getCurrent().title.value }}
            </div>

            <div class="result-message" ng-show="contacts.length === 0 && search.length < 3">
                <span class="fa fa-search"></span>
                <span class="system-info">Начните вводить имя абонента, электронную почту или телефон</span>
            </div>

            <div class="result-message" ng-show="search.length >= 3 && contacts.length === 0">
                <span class="fa fa-ban"></span>
                <span class="system-info">По Вашему запросу не найдено ни одного абонента</span>
            </div>

            <div class="contact" ng-repeat="user in contacts | orderBy: 'surname.value' track by $index">
                <div class="contact-division">{{  }}</div>
                <div class="contact-photo" style="background: url('{{ user.photo.value }}')" ng-show="user.photo.value !== ''"></div>
                <div class="contact-photo no-photo" ng-show="user.photo.value === ''"></div>
                <div class="contact-details">
                    <span class="fio"> {{ user.fio }} </span>

                    <!--<span class="surname">{{ user.surname.value }}</span>
                    <span class="name">{{ user.name.value + " " + user.fname.value }}</span>-->
                    <span class="position">{{ user.position.value }}</span>

                    <div class="emails">
                        <span class="email"><span class="fa fa-at"></span>&nbsp; <a href="mailto:{{user.email.value}}">{{ user.email.value }}</a></span>
                    </div>

                    <div class="phones">
                       <span class="phone"><span class="fa fa-phone"></span>&nbsp; 24-69, 77-41-24, 16-77</span>
                    </div>

                    <div class="mobiles">
                        <span class="phone"><span class="fa fa-mobile-phone"></span>&nbsp; +7 (921) 555-66-77</span>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>



<!--
<div id="app-phones" class="height-100">

    <div class="row height-100">

        <div id="companies" class="width-30 height-100">
            <div class="row companies-header">
                Огрганизации
            </div>
        </div>


        <div id="contacts" class="width-70">
            <div id="contacts-header" class="row padding-10">
                <input type="text" name="" id="" class="width-100 big obtique dark" ng-model="search" placeholder="Введите имя, e-mail или телефон абонента">
            </div>
            <div class="row padding-10">

                <div class="nothing-found" ng-show="search === ''">
                    Начните вводить имя абонента, e-mail или телефон
                </div>
                <div class="nothing-found" ng-show="search !== '' && search.length > 2 && contacts.length === 0">
                    Абонентов, удовлетвоярющим Вашему запросу не найдено
                </div>

                <div class="contact" ng-repeat="user in contacts = (users.getUsers() | phoneBook:search) track by $index">
                    <div class="contact-photo">
                        <img src="resources/images/no_photo.png" alt="Фотография отсутствует" ng-if="user.photo.value === ''">
                        <img ng-src="{{ user.photo.value }}" alt="{{ user.fio }}" ng-if="user.photo.value !== ''">
                    </div>
                    <div class="contact-details">
                        <span class="surname">{{ user.surname.value }}</span>
                        <span class="name">{{ user.name.value + " " + user.fname.value }}</span>
                        <span class="position">Должность</span>
                        <span class="email"></span>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
-->