<div id="app-phones" class="height-100">

    <div class="row height-100">

        <div id="companies" class="width-30 height-100">
            <div class="row companies-header">
                Огрганизации
            </div>
        </div>


        <div id="contacts" class="width-70">
            <div class="row padding-10">
                <input type="text" name="" id="" class="width-100 big obtique dark" ng-model="search" placeholder="Введите имя, e-mail или телефон абонента">
            </div>
            <div class="row padding-10">

                <div class="nothing-found" ng-show="search === ''">
                    Начните вводить имя абонента, e-mail или телефон
                </div>
                <div class="nothing-found" ng-show="search !== '' && search.length > 2 && contacts.length === 0">
                    Абонентов, удовлетвоярющим Вашему запросу не найдено
                </div>

                <div class="contact" ng-repeat="user in contacts = (users.getUsers() | phoneBook:search) track by $index">
                    <div class="contact-photo">
                        <img src="resources/images/no_photo.png" alt="Фотография отсутствует" ng-if="user.photo.value === ''">
                        <img ng-src="{{ user.photo.value }}" alt="{{ user.fio }}" ng-if="user.photo.value !== ''">
                    </div>
                    <div class="contact-details">
                        <span class="surname">{{ user.surname.value }}</span>
                        <span class="name">{{ user.name.value + " " + user.fname.value }}</span>
                        <span class="position">Должность</span>
                        <span class="email"></span>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>