

<columns id="users">
    <column id="user-groups" width="20" caption="группы" >
        <column-control class="green round" content="fa fa-plus" title="Добавить группу" action="openNewUserGroupModal"></column-control>
        <column-control class="blue round" content="fa fa-pencil" title="Редактировать группу" action="openEditUserGroupModal" ng-show="users.groups.getCurrent() !== undefined"></column-control>
        <column-control class="red round" content="fa fa-times" title="Удалить группу" action="openDeleteUserGroupModal" ng-show="users.groups.getCurrent() !== undefined"></column-control>

        <div class="list-item" ng-class="{'active': group._states_.selected() === true}" ng-repeat="group in users.groups.getAll() track by $id(group)" ng-click="users.groups.select(group.id.value)">
            <div class="list-item-icon">
                <span class="fa fa-users"></span>
            </div>
            <div class="list-item-content-lead" title="{{ group._backup_.data.title }}">{{ group._backup_.data.title }}</div>
            <div class="list-item-content-secondary">3 пользователя</div>
        </div>



    </column>
    <column id="users" width="80" caption="пользователи" maximizable="1">
        <column-control class="green round" content="fa fa-plus" title="Добавить пользователя" action="gotoAddUser"></column-control>
        <column-control class="blue round" content="fa fa-pencil" title="Редактировать пользователя" ng-show="users.users.getCurrent() !== undefined" action="gotoEditUser"></column-control>
        <column-control class="red round" content="fa fa-times" title="Удалить пользователя" ng-show="users.users.getCurrent() !== undefined"></column-control>
        <div class="padding-5">
            <table class="stripped selectable">
                <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Должность</th>
                    <th>E-mail</th>
                    <th>Телефон</th>
                    <th>Произв. отд.</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{ 'selected': user._states_.selected() === true }" ng-click="users.users.select(user.id.value)" ng-repeat="user in users.users.getAll() | orderBy:'surname.value' track by $index">
                    <td>{{ user.surname.value }}</td>
                    <td>{{ user.name.value }}</td>
                    <td>{{ user.fname.value }}</td>
                    <td>{{ user.position.value }}</td>
                    <td>{{ user.email.value }}</td>
                    <td>{{ user.phone.value }}</td>
                    <td>{{ kolenergo.getDepartmentById(user.departmentId.value).title.value }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </column>
</columns>


<div modal modal-id="new-user-group" modal-caption="Новая группа пользователей" modal-on-close="closeNewUserGroupModal">
    <div class="padding-10">
        <div class="row margin-bottom-10">
            <label for="new-group-title">Наименование группы</label>
            <input type="text" id="new-group-title" name="new-group-title" class="width-100" ng-model="newUserGroup.title.value">
        </div>

        <div class="row">
            <div class="width-50">
                <button class="width-100 green" ng-disabled="newUserGroup.title.value === ''" ng-click="addUserGroup()">Добавить</button>
            </div>
            <div class="width-50">
                <button class="width-100 red" ng-click="modals.close()">Отмена</button>
            </div>
        </div>
    </div>
</div>


<div modal modal-id="edit-user-group" modal-caption="Редактирование группы пользователей" modal-on-close="closeEditUserGroupModal">
    <div class="padding-10">
        <div class="row margin-bottom-10">
            <label for="current-group-title">Наименование группы</label>
            <input type="text" id="current-group-title" name="current-group-title" class="width-100" ng-model="users.groups.getCurrent().title.value" ng-change="users.groups.getCurrent()._states_.changed(true)">
        </div>

        <div class="row">
            <div class="width-50">
                <button class="width-100 green" ng-disabled="users.groups.getCurrent().title.value === '' || users.groups.getCurrent()._states_.changed() === false" ng-click="editUserGroup()">Сохранить</button>
            </div>
            <div class="width-50">
                <button class="width-100 red" ng-click="modals.close()">Отмена</button>
            </div>
        </div>
    </div>
</div>


<div modal modal-id="delete-user-group-modal" modal-caption="Удаление группы пользователей">
    <div class="padding-10">
        <div class="row">
            <div class="row margin-bottom-10">
                Вы уверены, что хотите удалить группу <b>{{ users.groups.getCurrent().title.value }}</b> ?
            </div>
            <div class="width-50">
                <button class="width-100 green" ng-click="deleteUserGroup()">Удалить</button>
            </div>
            <div class="width-50">
                <button class="width-100 red" ng-click="modals.close()">Отмена</button>
            </div>
        </div>
    </div>
</div>