<columns id="company">
    <column id="company-organizations" width="20" caption="Организации" >
        <column-control class="green round" content="fa fa-plus" title="Добавить организацию" action="openAddOrganizationModal"></column-control>
        <column-control class="blue round" content="fa fa-pencil" title="Редактировать организацию" action="openEditOrganizationModal" ng-show="kolenergo.organizations.getCurrent() !== undefined"></column-control>
        <column-control class="red round" content="fa fa-times" title="Удалить организацию" action="openDeleteOrganizationModal" ng-show="kolenergo.organizations.getCurrent() !== undefined"></column-control>


        <div>

            <!--
            <model-list
                    ng-model="departments"
                    primary-label="title"
                    secondary-label="description"
                    model-id="id"
                    on-select="onSelectDepartment">
            </model-list>
            -->

            <div class="list-item" ng-class="{'active': org._states_.selected() === true}" ng-repeat="org in kolenergo.organizations.getAll() track by $index" ng-click="selectOrganization(org.id.value)">
                <div class="list-item-icon">
                    <span class="fa fa-building" aria-hidden="true"></span>
                </div>
                <div class="list-item-content-lead only" title="{{ org._backup_.data.title }}">{{ org._backup_.data.title }}</div>
            </div>

        </div>

    </column>
    <column id="department-divisions" width="80" caption="Структурные подразделения" maximizable="1">
        <column-control class="green round" content="fa fa-plus" ng-show="kolenergo.organizations.getCurrent() !== undefined" title="Добавить подразделение" action="openAddNewDivisionModal"></column-control>
        <column-control class="blue round" content="fa fa-pencil"  ng-show="kolenergo.divisions.getCurrent() !== undefined"  title="Редактировать подразделение" action="openEditDivisionModal"></column-control>

        <div class="padding-5">

           <hierarchy
                   id="test"
                   source="hierarchy"
                   key="id"
                   parent-key="parentId"
                   display-field="title"
                   on-select="selectDivision">
           </hierarchy>


        </div>
    </column>
</columns>



<div modal modal-id="new-organization-modal" modal-caption="Новая организация" modal-on-close="closeAddOrganizationModal">
    <div class="padding-10">
        <div class="row margin-bottom-10">
            <label for="new-organization-title">Наименование организации</label>
            <input type="text" id="new-organization-title" name="new-organization-title" class="width-100" ng-model="newOrganization.title.value">
        </div>


        <div class="row">
            <div class="width-50">
                <button class="width-100 green" ng-disabled="newOrganization.title.value === ''" ng-click="addOrganization()">Добавить</button>
            </div>
            <div class="width-50">
                <button class="width-100 red" ng-click="modals.close()">Отмена</button>
            </div>
        </div>
    </div>
</div>


<div modal modal-id="edit-organization-modal" modal-caption="Редактирование организации" modal-on-close="closeEditOrganizationModal">
    <div class="padding-10">
        <div class="row margin-bottom-10">
            <label for="current-organization-title">Наименование организации</label>
            <input type="text" id="current-organization-title" name="current-organization-title" class="width-100" ng-model="kolenergo.organizations.getCurrent().title.value" ng-change="kolenergo.organizations.getCurrent()._states_.changed(true)">
        </div>


        <div class="row">
            <div class="width-50">
                <button class="width-100 green" ng-disabled="kolenergo.organizations.getCurrent()._states_.changed() === false || kolenergo.organizations.getCurrent().title.value === ''" ng-click="editOrganization()">Сохранить</button>
            </div>
            <div class="width-50">
                <button class="width-100 red" ng-click="modals.close()">Отмена</button>
            </div>
        </div>
    </div>
</div>


<div modal modal-id="delete-organization-modal" modal-caption="Удаление организации">
    <div class="padding-10">
        <div class="row">
            <div class="row margin-bottom-10">
                Вы уверены, что хотите удалить <b>{{ kolenergo.organizations.getCurrent().title.value }}</b> ?
            </div>
            <div class="width-50">
                <button class="width-100 green" ng-click="deleteOrganization()">Удалить</button>
            </div>
            <div class="width-50">
                <button class="width-100 red" ng-click="modals.close()">Отмена</button>
            </div>
        </div>
    </div>
</div>


<div modal modal-id="new-division-modal" modal-caption="Новое структурное подразделение" modal-on-close="closeAddNewDivisionModal">
    <div class="padding-10">
        <div class="row margin-bottom-10">
            <label for="new-division-title">Наименование подразделения</label>
            <input type="text" id="new-division-title" name="new-division-title" class="width-100" ng-model="newDivision.title.value">
        </div>

        <div class="row margin-bottom-10">
            <label for="new-division-organization">Организация</label>
            <select name="new-division-organization"
                    id="new-division-organization"
                    class="width-100"
                    ng-model="newDivision.organizationId.value"
                    ng-options="organization.id.value as organization.title.value for organization in kolenergo.organizations.getAll()">
            </select>
        </div>

        <div class="row margin-bottom-10">
            <label for="new-division-parent">Подразделение верхнего уровня</label>
            <select name="new-division-parent"
                    id="new-division-parent"
                    class="width-100"
                    ng-model="newDivision.parentId.value"
                    ng-options="division.id.value as division.title.value for division in kolenergo.getDivisions()">
            </select>
        </div>

        <div class="row">
            <div class="width-50">
                <button class="width-100 green" ng-disabled="newDivision.title.value === ''" ng-click="addNewDivision()">Добавить</button>
            </div>
            <div class="width-50">
                <button class="width-100 red" ng-click="modals.close()">Отмена</button>
            </div>
        </div>
    </div>
</div>


<div modal modal-id="edit-division-modal" modal-caption="Редактирование структурного подразделения" modal-on-close="closeEditDivisionModal">
    <div class="padding-10">
        <div class="row margin-bottom-10">
            <label for="current-division-title">Наименование подразделения</label>
            <input type="text" id="current-division-title" name="current-division-title" class="width-100" ng-model="currentDivision.title.value" ng-change="currentDivision._states_.changed(true)">
        </div>

        <div class="row margin-bottom-10">
            <label for="current-division-parent">Подразделение верхнего уровня</label>
            <select name="current-division-parent"
                    id="current-division-parent"
                    class="width-100"
                    ng-model="currentDivision.parentId.value"
                    ng-change="currentDivision._states_.changed(true)"
                    ng-options="division.id.value as division.title.value for division in divisions">
            </select>
        </div>

        <div class="row">
            <div class="width-50">
                <button class="width-100 green" ng-disabled="currentDivision._states_.changed() === false" ng-click="editDivision()">Сохранить</button>
            </div>
            <div class="width-50">
                <button class="width-100 red" ng-click="modals.close()">Отмена</button>
            </div>
        </div>
    </div>
</div>


