<columns id="company">
    <column id="company-departments" width="20" caption="Произв. отделения" >
        <column-control class="green round" content="fa fa-plus" title="Добавить группу"></column-control>
        <column-control class="blue round" content="fa fa-pencil" title="Редактировать группу"></column-control>

        <div>

            <!--
            <model-list
                    ng-model="departments"
                    primary-label="title"
                    secondary-label="description"
                    model-id="id"
                    on-select="onSelectDepartment">
            </model-list>
            -->

            <div class="list-item" ng-class="{'active': department._states_.selected() === true}" ng-repeat="department in kolenergo.getDepartments() track by $index" ng-click="onSelectDepartment(department.id.value)">
                <div class="list-item-icon">
                    <span class="fa fa-building" aria-hidden="true"></span>
                </div>
                <div class="list-item-content-lead only" title="{{ department.title.value }}">{{ department.title.value }}</div>
            </div>

        </div>

    </column>
    <column id="department-divisions" width="80" caption="Структурные подразделения" maximizable="1">
        <column-control class="green round" content="fa fa-plus" title="Добавить подразделение" action="onAddDivision"></column-control>
        <column-control class="blue round" content="fa fa-pencil"  ng-show="currentDivision !== undefined"  title="Редактировать подразделение" action="onEditDivision"></column-control>

        <div class="padding-5">

           <hierarchy
                   source="kolenergo.getDivisions()"
                   key="id"
                   parent-key="parentId"
                   display-field="title"
                   on-select="onSelectDivision">
           </hierarchy>


        </div>
    </column>
</columns>




<div modal modal-id="new-division-modal" modal-caption="Новое структурное подразделение" modal-on-close="onCancelAddNewDivision">
    <div class="padding-10">
        <div class="row margin-bottom-10">
            <label for="new-division-title">Наименование подразделения</label>
            <input type="text" id="new-division-title" name="new-division-title" class="width-100" ng-model="newDivision.title.value">
        </div>

        <div class="row margin-bottom-10">
            <label for="new-division-parent">Подразделение верхнего уровня</label>
            <select name="new-division-parent"
                    id="new-division-parent"
                    class="width-100"
                    ng-model="newDivision.parentId.value"
                    ng-options="division.id.value as division.title.value for division in kolenergo.getDivisions()">
            </select>
        </div>

        <div class="row">
            <div class="width-50">
                <button class="width-100 green" ng-disabled="newDivision.title.value === ''" ng-click="onAddNewDivision()">Добавить</button>
            </div>
            <div class="width-50">
                <button class="width-100 red" ng-click="_modal_.close()">Отмена</button>
            </div>
        </div>
    </div>
</div>


<div modal modal-id="edit-division-modal" modal-caption="Редактирование структурного подразделения" modal-on-close="onCancelEditDivision">
    <div class="padding-10">
        <div class="row margin-bottom-10">
            <label for="current-division-title">Наименование подразделения</label>
            <input type="text" id="current-division-title" name="current-division-title" class="width-100" ng-model="currentDivision.title.value" ng-change="currentDivision._states_.changed(true)">
        </div>

        <div class="row margin-bottom-10">
            <label for="current-division-parent">Подразделение верхнего уровня</label>
            <select name="current-division-parent"
                    id="current-division-parent"
                    class="width-100"
                    ng-model="currentDivision.parentId.value"
                    ng-change="currentDivision._states_.changed(true)"
                    ng-options="division.id.value as division.title.value for division in divisions">
            </select>
        </div>

        <div class="row">
            <div class="width-50">
                <button class="width-100 green" ng-disabled="currentDivision._states_.changed() === false" ng-click="editDivision()">Сохранить</button>
            </div>
            <div class="width-50">
                <button class="width-100 red" ng-click="_modal_.close()">Отмена</button>
            </div>
        </div>
    </div>
</div>


