<columns id="company">
    <column id="company-departments" width="20" caption="Произв. отделения" >
        <column-control class="green round" content="fa fa-plus" title="Добавить группу"></column-control>
        <column-control class="blue round" content="fa fa-pencil" title="Редактировать группу"></column-control>

        <div class="padding-5">
            <model-list
                    ng-model="departments"
                    primary-label="title"
                    secondary-label="description"
                    model-id="id"
                    on-select="onSelectDepartment">
            </model-list>
        </div>

    </column>
    <column id="department-divisions" width="80" caption="Отделы" maximizable="1">
        <column-control class="green round" content="fa fa-plus" title="Добавить пользователя" action="addDivision"></column-control>
        <column-control class="blue round" content="fa fa-pencil" ng-show="currentDivision !== undefined" title="Редактировать пользователя"></column-control>

        <div class="padding-5">
           <hierarchy
                   source="kolenergo.getDivisions()"
                   key="id"
                   parent-key="parentId"
                   display-field="title"
                   on-select="onSelectDivision">
           </hierarchy>

        </div>
    </column>
</columns>
<!--
<modal id="test" width="500" height="500">
    <input type="text" name="" id="" value="test">
</modal>
-->
<!--
<modal id="test-modal-2"></modal>
-->