@import "ui.less";
@import "utils.less";

@app-min-width: 1200px;
@app-header-height: 45px;
@app-header-color: #0B8A9E;
@app-menu-width: 200px;
@app-menu-color: #818385;

@admin-login-width: 350px;




/**********
** KRYPTON ADMINISTRATION PANEL
***********/
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Regular";
  font-size: 14px;
}


#app-header {
  position: absolute;
  top: 0px;
  left: @app-menu-width;
  right: 0px;
  height: @app-header-height;
  min-width: @app-min-width;
  box-sizing: border-box;
  border-bottom: 1px solid #D3D5E0;
  border-left: 1px solid #d4d4d4;
  background: #EEF1F8;

  .control {
    float: left;
    display: block;
    width: 45px;
    height: @app-header-height;
    padding-left: 15px;
    padding-right: 15px;
    line-height: @app-header-height;
    color: #61808F;
    box-sizing: border-box;
    cursor: pointer;
    //border: 1px solid red;

    &:hover {
      color: #37474F;
      //background: #E9EBF0;
    }
  }



  #current-menu-title {
    float: left;
    height: @app-header-height;
    //margin-left: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    //border: 1px solid green;

    #title {
      display: block;
      //float: left;
      height: @app-header-height;
      //margin-top: 4px;
      font-size: 24px;
      line-height: @app-header-height;
      color: #37474F;
    }

    #description {
      display: block;
      //float: left;
      font-size: 13px;
      color: #61808F;
    }
  }

  #current-menu-search {
    //float: left;
    overflow: visible;
    //position: relative;
    //height: 100%;
    height: @app-header-height;
    //padding: 5px;
    //text-align: center;
    box-sizing: border-box;
    //border: 1px solid red;

    .search-box {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      right: 45px;
      //float: left;
      //width: 100%;
      height: @app-header-height;
      //margin-right: 55px;
      padding: 3px;
      padding-top: 4px;
      box-sizing: border-box;
      //border: 1px solid green;

      input {
        width: 100%;
        outline: none;
      }


    }
    .control {
      position: absolute;
      right: 0px;
      top: 0px;
      bottom: 0px;
      float: left !important;
    }



  }

  #current-menu-controls {
    float: right;
    height: @app-header-height;
    font-size: 18px;
    box-sizing: border-box;
    //border: 1px solid blue;
  }
}


#app-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: @app-menu-width;
 // background: url("../images/menu_background.png");
  background: #2F475E;


  #current-user {
    overflow: auto;
    width: @app-menu-width;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #223547;

    .current-user-photo {
      display: block;
      margin-bottom: 10px;
      text-align: center;

      img {
        display: block;
        width: 110px;
        height: 110px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background: #E0E0E0;
      }

      .no-user-photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        font-size: 50px;
        line-height: 80px;
        color: #BDBDBD;
      }

    }

    .current-user-fio {
      display: block;
      margin-top: 30px;
      text-align: center;
      color: #E1F5FE;
    }
  }


  .menu-item {
    display: block;
    width: 100%;
    float: left;
    padding: 10px;
    text-decoration: none;
    color: #E1F5FE;
    box-sizing: border-box;
    border-left: 3px solid transparent;

    &:hover {
      background: #2B4157;
    }

    &.active {
      color: white;
      background: #223547;
      border-left: 3px solid #2196F3;
    }
  }
}


#app-content {
  position: absolute;
  top: @app-header-height;
  left: @app-menu-width;
  right: 0px;
  bottom: 0px;
  min-width: @app-min-width;
  //background: #ECEFF4;
  //border-left: 1px solid lightgray;
}




/***********
** COMPANY
***********/
ul.test {
  margin-left: 0px !important;
  padding-left: 0px;

  li {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    //border: 1px solid lightgray;
  }

}



/**********
** KRYPTON ADMINISTRATION PANEL LOGIN
**********/
#admin-login {
  width: @admin-login-width;
  margin-left: auto;
  margin-right: auto;

  #admin-login-form {
    border: 1px solid @ui-border-color;
  }
}
