.krypton-ui-fog {
  position: fixed;
  display: block;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  filter: blur(2px);
}
.krypton-ui-fog.visible {
  right: 0px;
  height: 100%;
  opacity: 1;
}
.ui-date-time-picker2 {
  position: absolute;
  display: none;
  width: 259px;
  z-index: 1001;
  border: 1px solid lightgrey;
  background: white;
  box-sizing: content-box;
  -webkit-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
}
.ui-date-time-picker2 .toolbar {
  float: left;
  width: 259px;
  box-sizing: border-box;
}
.ui-date-time-picker2 .toolbar .control {
  float: left;
  width: 37px;
}
.ui-date-time-picker2 .toolbar .content {
  float: left;
  width: 185px;
}
.ui-date-time-picker2 .toolbar .content select {
  font-size: 15px;
  text-align-last: center;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none !important;
  background-image: url('../images/drop_down_arrow.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position-x: 95%;
}
.ui-date-time-picker2 .toolbar .content select option {
  text-align: center;
}
.ui-date-time-picker2 .toolbar .content .selected-date {
  display: block;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
.ui-date-time-picker2 .weekdays {
  float: left;
  width: 259px;
  box-sizing: border-box;
}
.ui-date-time-picker2 .weekdays .day {
  float: left;
  width: 37px;
  height: 20px;
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
  border-right: none;
  background: #FAFAFA;
  cursor: default;
}
.ui-date-time-picker2 .weekdays .day:hover {
  background: #FAFAFA;
}
.ui-date-time-picker2 .day {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 37px;
  height: 37px;
  font-family: "Roboto Regular";
  font-size: 17px;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border-right: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.ui-date-time-picker2 .day:hover {
  background: #F5F5F5;
}
.ui-date-time-picker2 .day.sunday {
  background: #FFEBEE !important;
  border-right: none;
}
.ui-date-time-picker2 .day.sunday:hover {
  background: #EF9A9A !important;
}
.ui-date-time-picker2 .day.not-this-month {
  color: #BDBDBD;
}
.ui-date-time-picker2 .day.current {
  background: #FFF3E0;
}
.ui-date-time-picker2 .day.current:hover {
  background: #F5F5F5;
}
.ui-date-time-picker2 .days-container {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.ui-date-time-picker2 .hour {
  display: inline-block;
  position: relative;
  float: left;
  overflow: hidden;
  width: 43.16666667px;
  height: 25%;
  font-family: "Roboto Regular";
  font-size: 19px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border-right: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.ui-date-time-picker2 .hour:hover {
  background: #F5F5F5;
}
.ui-date-time-picker2 .hour.current {
  background: #FFF3E0;
}
.ui-date-time-picker2 .hour.current:hover {
  background: #F5F5F5;
}
.ui-date-time-picker2 .minute {
  display: inline-block;
  position: relative;
  float: left;
  overflow: hidden;
  width: 64.75px;
  height: 33.33333%;
  text-align: center;
  font-size: 19px;
  line-height: 86.33333333px;
  cursor: pointer;
  box-sizing: border-box;
  border-right: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.ui-date-time-picker2 .minute:hover {
  background: #F5F5F5;
}
.ui-date-time-picker2 .minute.current {
  background: #FFF3E0;
}
.ui-date-time-picker2 .minute.current:hover {
  background: #F5F5F5;
}
.ui-date-time-picker2.modal {
  position: absolute;
  width: 522px;
  border: none;
}
.ui-date-time-picker2.modal .toolbar {
  width: 522px;
}
.ui-date-time-picker2.modal .toolbar .control {
  width: 74.57142857px;
}
.ui-date-time-picker2.modal .toolbar select {
  height: 60px;
  font-size: 22px;
}
.ui-date-time-picker2.modal .toolbar .content {
  width: 372.85714286px;
}
.ui-date-time-picker2.modal .toolbar .content .selected-date {
  font-size: 24px;
  line-height: 60px;
}
.ui-date-time-picker2.modal .weekdays {
  width: 522px;
  box-sizing: border-box;
}
.ui-date-time-picker2.modal .weekdays .day {
  width: 74.57142857px;
  height: 20px;
  font-size: 9px;
  line-height: 22px;
}
.ui-date-time-picker2.modal .day {
  width: 74.57142857px;
  height: 74.57142857px;
  font-size: 26px;
  line-height: 74.57142857px;
}
.ui-date-time-picker2.modal .hour {
  width: 87px;
  height: 25%;
  font-family: "Roboto Regular";
  font-size: 22px;
  line-height: 87px;
}
.ui-date-time-picker2.modal .minute {
  width: 25%;
  height: 33.333333333333333333333333%;
  font-size: 24px;
  line-height: 120.5px;
  box-sizing: border-box;
  border-right: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
}
.ui-data-field {
  position: relative;
  overflow: hidden;
  height: 40px;
  box-sizing: border-box;
}
.ui-data-field .input-container {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 80px;
  bottom: 0px;
}
.ui-data-field .input-container input {
  width: 100%;
  border-right: none !important;
  box-sizing: border-box;
}
.ui-data-field .controls-container {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 80px;
  box-sizing: border-box;
}
.ui-data-field .controls-container button {
  display: inline-block;
  float: left;
  width: 40px;
  height: 38px;
}
.ui-data-field .controls-container button.green {
  font-size: 20px;
}
.ui-data-field .controls-container button.red {
  font-size: 27px;
}
/******************
* COLUMNS
******************/
.krypton-columns {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #E3E3E3;
}
.krypton-columns .columns-row {
  position: relative;
  display: table-row;
  width: 100%;
  box-sizing: border-box;
}
.krypton-columns .columns-column {
  position: relative;
  display: table-cell;
  overflow: hidden;
  height: 100%;
  border-right: 1px solid #E3E3E3;
}
.krypton-columns .columns-column:last-of-type {
  border-right: none;
}
.krypton-columns .columns-column .column-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  padding: 5px;
  vertical-align: bottom;
  box-sizing: border-box;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border-bottom: 1px solid lightgrey;
}
.krypton-columns .columns-column .column-header .header-caption {
  display: inline-block;
  margin-right: 5px;
  line-height: 22px;
  font-size: 13px;
  text-transform: uppercase;
  color: gray;
}
.krypton-columns .columns-column .column-header .service-button {
  width: 20px;
  height: 20px;
  padding: 2px;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: darkgray;
  background: transparent;
  border: none;
  cursor: pointer;
}
.krypton-columns .columns-column .column-header .service-button:hover {
  color: black;
}
.krypton-columns .columns-column .column-content {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}
/***************
** HIERARCHY
***************/
.krypton-ui-hierarchy {
  margin-top: 0px;
  margin-bottom: 0px;
}
.krypton-ui-hierarchy ul.nested {
  margin-left: 5px;
}
.krypton-ui-hierarchy .expand {
  padding-right: 10px;
  font-size: 13px;
  cursor: pointer;
}
.krypton-ui-hierarchy .expand.invisible {
  visibility: hidden;
}
.krypton-ui-hierarchy .collapse {
  padding-right: 10px;
  font-size: 13px;
  cursor: pointer;
}
.krypton-ui-hierarchy .item-lines {
  float: left;
  width: 10px;
  height: 100%;
  border: 1px solid black;
}
.krypton-ui-hierarchy .item-content {
  float: left;
  height: 100%;
  border: 1px solid red;
}
/********************
** MODEL-LIST
********************/
.krypton-ui-model-list .model-item {
  height: 45px;
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  cursor: pointer;
  background: #FAFAFA;
  border: 1px solid lightgray;
}
.krypton-ui-model-list .model-item:hover {
  border: 1px solid darkgray;
  background: #F5F5F5;
}
.krypton-ui-model-list .model-item.selected {
  background: #E0E0E0;
}
.krypton-ui-model-list .item-primary-label {
  font-size: 16px;
}
/**
*
**/
/**********
** FONTS
*********/
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf");
}
/**********
** TEXT ALIGN
**********/
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
/**********
** BLOCK FLOAT
**********/
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.center {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}
/**********
** GRID
**********/
.row {
  overflow: auto;
}
.row.bottom-split-5 {
  margin-bottom: 5px;
}
/**********
** WIDTH & height
**********/
.width-100 {
  float: left;
  width: 100% !important;
}
.width-90 {
  float: left;
  width: 90%;
}
.width-80 {
  float: left;
  width: 80%;
}
.width-70 {
  float: left;
  width: 70%;
}
.width-65 {
  float: left;
  width: 65%;
}
.width-60 {
  float: left;
  width: 60%;
  box-sizing: border-box;
}
.width-50 {
  float: left;
  width: 50%;
}
.width-45 {
  float: left;
  width: 45%;
}
.width-40 {
  float: left;
  width: 40%;
}
.width-35 {
  float: left;
  width: 35%;
}
.width-33 {
  float: left;
  width: 33%;
}
.width-30 {
  float: left;
  width: 30%;
  box-sizing: border-box;
}
.width-25 {
  float: left;
  width: 25%;
}
.width-20 {
  float: left;
  width: 20%;
}
.width-15 {
  float: left;
  width: 15%;
}
.width-10 {
  float: left;
  width: 10%;
}
.height-100 {
  height: 100%;
}
/**********
** PADDINGS & MARGINS
**********/
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-right-5 {
  margin-right: 5px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}
/**********
** FORMS
**********/
input {
  display: block;
  font-family: "Roboto Regular";
  font-size: 18px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}
input[type='text'],
input[type='password'] {
  height: 35px;
  padding: 7px;
  box-sizing: border-box;
}
input[type='text'].label,
input[type='password'].label {
  padding-left: 0px !important;
  border: 1px solid transparent;
  background: transparent;
}
input[type='text'].label.border-top,
input[type='password'].label.border-top {
  border-top: 1px solid lightgrey;
}
select {
  height: 35px;
  padding: 7px;
  box-sizing: border-box;
  font-family: "Roboto Regular";
  font-size: 17px;
  text-align: center !important;
  border: 1px solid lightgrey;
}
select.no-border {
  border: none;
}
select option {
  padding: 10px;
  color: gray;
}
/**********
** BUTTONS
**********/
input[type='button'],
input[type='submit'],
button {
  height: 35px;
  padding: 10px;
  border: none;
  cursor: pointer;
  line-height: 12px;
  box-sizing: border-box;
}
input[type='button'].rounded,
input[type='submit'].rounded,
button.rounded {
  border-radius: 50%;
}
input[type='button'].small,
input[type='submit'].small,
button.small {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  padding: 0px !important;
  font-size: 11px;
  text-align: center !important;
  vertical-align: middle;
  box-sizing: border-box;
}
input[type='button'].big,
input[type='submit'].big,
button.big {
  height: 45px;
}
input[type='button'].very-big,
input[type='submit'].very-big,
button.very-big {
  height: 60px;
}
input[type='button'][disabled='true'],
input[type='submit'][disabled='true'],
button[disabled='true'] {
  cursor: default;
}
input[type='button'].blue,
input[type='submit'].blue,
button.blue {
  color: white;
  background: #2196F3;
}
input[type='button'].blue:hover,
input[type='submit'].blue:hover,
button.blue:hover {
  background: #1976D2;
}
input[type='button'].green,
input[type='submit'].green,
button.green {
  color: white;
  background: #4CAF50;
}
input[type='button'].green:hover,
input[type='submit'].green:hover,
button.green:hover {
  background: #388E3C;
}
input[type='button'].red,
input[type='submit'].red,
button.red {
  color: white;
  background: #F44336;
}
input[type='button'].red:hover,
input[type='submit'].red:hover,
button.red:hover {
  background: #D32F2F;
}
input[type='button'].transparent,
input[type='submit'].transparent,
button.transparent {
  background: transparent;
}
/*********
* TABLES
*********/
table {
  width: 100%;
  border-spacing: 0px;
}
table thead th {
  padding: 10px;
  box-sizing: border-box;
  background: #E0F2F1;
}
table tbody tr {
  border-bottom: 1px solid black;
}
table tbody tr td {
  padding: 10px;
  box-sizing: border-box;
}
table.stripped tbody tr:nth-child(even) {
  background: #FAFAFA;
}
/**********
* LINKS
*********/
a {
  color: #64B5F6;
}
a:hover {
  color: #1565C0;
}
a.green {
  color: #4CAF50;
}
a.green:hover {
  color: #388E3C;
}
a.red {
  color: #F44336;
}
a.red:hover {
  color: #D32F2F;
}
a.blue {
  color: #2196F3;
}
a.blue:hover {
  color: #1976D2;
}
/**********
** COLORS
**********/
/*.red {
  background-color: #F44336;
  color: white;
  &:hover {
    background-color: #D32F2F;
  }
}

.light-red {
  background-color: #FFCDD2;
  color: #D50000;
}

.blue {
  background-color: #2196F3;
  color: white;
  &:hover {
    background-color: #1976D2;
  }
}

.light-blue {
  background-color: #BBDEFB;
  color: #0D47A1;
}

.green {
  background-color: #4CAF50;
  color: white;
  &:hover {
    background-color: #388E3C;
  }
  
  &.disabled {
    background: #C8E6C9;
    color: #BDBDBD;
  }
}

.light-green {
  background-color: #C8E6C9;
  color: #1B5E20;
}
*/
/**********
** CUSTOM CONTROLS
*********/
html,
body {
  height: 100%;
  margin: 0px;
  font-family: "Roboto Regular";
}
#app-header {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 40px;
  background: #0D47A1;
  border-bottom: 5px solid #1E88E5;
  box-sizing: border-box;
}
#app-header .menu-item {
  float: left;
  height: 35px;
  padding: 5px 15px;
  font-family: "Roboto Regular";
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  transition: background 0.2s linear;
}
#app-header .menu-item:hover {
  background: #1565C0;
}
#app-header .menu-item.active {
  background: #1E88E5;
  font-weight: bold;
}
#app-wrapper {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  min-width: 1200px;
}
#app-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}
/********** TELEPHONES **********/
#telephones-search-box {
  padding-top: 30px;
}
.nothing-found {
  padding-top: 50px;
  font-size: 18px;
  color: #BDBDBD;
}
.telephones-user {
  margin-bottom: 25px;
}
.telephones-user .user-photo {
  display: block;
  float: left;
  width: 120px;
  height: 150px;
  margin-right: 20px;
  border: 1px solid lightgray;
}
.telephones-user .user-info .fio {
  font-size: 25px;
}
.telephones-user .user-info .position {
  font-size: 18px;
  color: #1A237E;
}
.telephones-user .user-info .phones {
  margin-top: 10px;
  color: black;
}
.telephones-user .user-info .phones .phone {
  font-size: 18px;
  color: #263238;
}
/********** ACCOUNT **********/
#user-account {
  height: 60%;
  padding-top: 50px;
  box-sizing: border-box;
}
#user-account #user-photo {
  padding-right: 30px;
}
#user-account #user-photo img {
  display: block;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  box-sizing: border-box;
}
#user-account #user-info {
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 1px dotted lightgrey;
}
#user-account #user-info .field-label {
  display: block;
  overflow: hidden;
  margin-bottom: 7px;
  padding-bottom: 2px;
  font-size: 15px;
  border-bottom: 1px dotted #E0E0E0;
  box-sizing: border-box;
}
#user-account #user-info .field-value {
  display: block;
  min-height: 35px;
  font-size: 18px;
  color: #01579B;
}
#user-account #user-info .field-value.empty {
  color: #9E9E9E;
}
#user-account #user-info .surname {
  display: block;
  font-size: 40px;
  line-height: 35px;
}
#user-account #user-info .name-fname {
  display: block;
  font-size: 28px;
}
#user-account #user-info .position {
  display: block;
  font-size: 18px;
  color: #01579B;
}
