@import "ui.less";
@import "utils.less";

@app-header-height: 40px;
@app-header-color: #FFGGLL;

html, body {
  height: 100%;
  margin: 0px;
  font-family: "Roboto Regular";
}

#app-header {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: @app-header-height;
  background: #0D47A1;
}

#app-wrapper {
  position: absolute;
  top: @app-header-height;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  border: 1px solid green;
}

#app-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}
