@import "ui.less";
@import "utils.less";

@app-header-height: 35px;
@app-header-color: #FFGGLL;
@app-top-padding: 50px;

html, body {
  height: 100%;
  margin: 0px;
  font-family: "Roboto Regular";
}

#app-header {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: @app-header-height;
  background: #0D47A1;
  //border-bottom: 5px solid #1E88E5;
  box-sizing: border-box;

  .menu-item {
    float: left;
    height: @app-header-height;
    padding: 5px 15px;
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    //border-bottom: 0px solid transparent;
    //transition: border-bottom 0.2s linear;
    transition: background 0.2s linear;

    &:hover {
      background: #1565C0;
      //border-bottom: 3px solid #90CAF9;
    }
    
    &.active {
      background: #1E88E5;
      font-weight: bold;
      //border-bottom: none !important;
    }
  }
}

#app-wrapper {
  position: absolute;
  //top: @app-header-height;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  min-width: 1200px;
  //border: 1px solid green;
  //background: url("../images/powerlines.jpg");
  background-size: cover;
}

#app-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  //background: rgba(255, 255, 255, 0.8);

}




/********** TELEPHONES **********/
#telephones {
  box-sizing: border-box;

  #telephones-header {
    position: fixed;
    overflow: hidden;
    z-index: 5;
    top: 0px;
    left: 0px;
    right: 0px;
    //vertical-align: middle;
    //width: 100%;
    height: 40%;
    min-height: 100px;
    //padding-left: 50px;
    //padding-right: 50px;
    //border: 1px solid red;
    box-sizing: border-box;
    -webkit-transition: height 0.2s linear;

    #telephones-header-bg-layout {
      position: absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: 100%;
      background: url("../images/powerlines-4.jpg");
      background-size: cover;
      //background-position: -10px -10px -10px -10px;
      //-webkit-filter: blur(1px);
      //transform: scale(1.05);
    }

    input {
      position: relative;
      height: 50px;
      border-radius: 0px;
      .box-shadow(1px, 1px, 12px, 5px, rgba(0, 0, 0, 0.2));
    }

    &.collapsed {
      height: 100px;

      #telephones-header-bg-layout {
      //  -webkit-filter: blur(1px);
      }
    }


    #telephones-header-content {
      position: relative;
      z-index: 2;
      display: table;
      width: 100%;
      height: 100%;
      //border: 1px solid red;
      background: rgba(0, 0, 0, 0.1);

      #telephones-search-container {
        display: table-row;

        #telephones-search {
          display: table-cell;
          padding-left: 100px;
          padding-right: 100px;
          vertical-align: middle;
        }
      }
    }
  }

  #telephones-content {
    //display: table-row;
    position: absolute;
    top: 40%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    //height: 50%;
    z-index: 3;
    //margin-top: 40%;
    box-sizing: border-box;
    //background: #FAFAFA;
    //border: 1px solid blue;
    background: #FAFAFA;
    -webkit-transition: top 0.3s linear;

    &.expanded {
      top: 100px;
    }

    #telephones-organizations {
      float: left;
      height: 100%;
      //background: #FAFAFA;
      background: white;
      //border-right: 1px solid lightgray;

      .caption {
        display: block;
        padding: 10px;
        font-size: 18px;
        //text-transform: uppercase;
        color: #BDBDBD;
      }
    }

    #telephones-results {
      //float: left;
      //overflow: auto;
      margin-left: 25%;
      height: 100%;
      padding: 20px;
      //background: #FAFAFA;
      box-sizing: border-box;

      .result-message {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
        //margin-top: 100px;

        .fa {
          float: left;
          width: 40px;
          font-size: 40px;
          color: #BDBDBD;
        }

        .system-info {
          display: block;
          margin-left: 40px;
          margin-top: 0px;
          padding-left: 20px;
          text-align: left;
        }
      }


      .summary {
        margin-bottom: 20px;
        padding: 10px;
        font-size: 18px;
        color: #BDBDBD;
      }

      .current-division {
        margin-bottom: 30px;
        font-size: 25px;
      }

     .contact {
       //width: 9%;
       height: 200px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 20px;
       //padding-bottom: 20px;
       border-bottom: 1px solid @ui-border-color;
       background: white;
       //border: 1px solid red;
       //.box-shadow(1px, 1px, 12px, 5px, rgba(0, 0, 0, 0.2));

       &:first-of-type {
         margin-top: 20px;
       }

       &:last-of-type {
         //border-bottom: none;
         //margin-bottom: 0px;
       }

       .contact-photo {
         float: left;
         width: 200px;
         height: 200px;
         border-right: 1px solid #F5F5F5;
         //border-radius: 50%;
         background-size: cover !important;
         -webkit-background-size: cover !important;
         //.box-shadow(1px, 1px, 10px, 3px, rgba(0, 0, 0, 0.2));

         &.no-photo {
           background: url("../images/no_photo.png");
           background-position: -37px;
         }
       }

       .contact-details {
         min-height: 200px;
         margin-left: 200px;
         padding-left: 20px;
         //border: 1px solid blue;

         .fio {
           display: block;
           padding: 10px;
           padding-bottom: 0px !important;
           font-size: 27px;
           color: black;
         }

         .surname {
           display: block;
           font-size: 30px;
           line-height: 30px;
           color: #212121;
         }

         .name {
           display: block;
           font-size: 20px;
           color: #616161;

         }

         .position {
           padding-left: 10px;
           font-size: 14px;
           text-transform: uppercase;
           color: #311B92;
         }


         .emails {
           height: 30px;
           margin-top: 15px;
           margin-left: 10px;
           line-height: 30px;
           //padding: 5px;
           //padding-left: 10px;

           .fa {
             width: 40px;
             height: 30px;
             //margin-top: -5px;
             //margin-bottom: -5px;
             border-right: 1px solid @ui-border-color;
             box-sizing: border-box;
             color: #004D40;
             //text-align: center;
           }

           .email {
             //padding: 10px;
             height: 30px;
             font-size: 20px;
             color: #1E88E5;
           }
         }


         .phones {
           //margin-top: 15px;
           //padding-left: 10px;
           height: 30px;
           margin-left: 10px;
           line-height: 30px;
           //padding:5px;

           .fa {
             width: 40px;
             height:30px;

             border-right: 1px solid @ui-border-color;
             box-sizing: border-box;
             color: #004D40;
             //text-align: center;
           }

           .phone {
             //padding: 10px;
             height: 30px;
             font-size: 25px;
             color: #0D47A1;
           }
         }


         .mobiles {
           height: 30px;
           margin-left: 10px;
           line-height: 30px;
           //margin-top: 15px;
           //padding-left: 10px;
           //padding: 5px;

           .fa {
             width: 40px;
             height: 30px;
             border-right: 1px solid @ui-border-color;
             box-sizing: border-box;
             //text-align: center;
             color: #004D40;
           }

           .phone {
             //padding: 10px;
             height: 30px;
             font-size: 25px;
             color: #0D47A1;
           }
         }

       }
     }



    }

    /*
    .system-info {
      position: relative;
      margin-top: 0px;
      padding-top: 70px;
      font-size: 18px;
      line-height: 40px;

      .fa {
        display: inline-block;
        height: 100%;
        //float: left;
        font-size: 40px;
      }
    }
    */
  }

}




#app-phones {

  #companies {
    //background: #FAFAFA;

    .companies-header {
      height: 50px;
      background: white;
      //border: 1px solid red;
      
    }
  }

  #contacts {
    border-left: 1px solid @ui-border-color;
    box-sizing: border-box;
    background: #FAFAFA;



    .contact {
      height: 200px;
      margin-bottom: 20px;
      padding-bottom: 10px;
      //border: 1px solid @ui-border-color;
      border-bottom: 1px solid @ui-border-color;

      .contact-photo {
        float: left;
        margin-right: 5px;

        img {
          width: 270px;
          height: 200px;
          //border: 1px solid black;
          //border-radius: 50%;
        }
      }

      .contact-details {
        float: left;

        .surname {
          display: block;
          font-size: 30px;
          line-height: 25px;
          color: black;
        }

        .name {
          display: block;
          font-size: 23px;
          color: #212121;
        }

        .position {
          font-size: 18px;
          color: #607D8B;
        }
      }

    }



  }

  .nothing-found {
    padding-top: 50px;
    font-size: 17px;
    text-align: center;
    color: #BDBDBD;
  }

}



#telephones-search-box {
  padding-top: 30px;
}



.telephones-user {
  margin-bottom: 25px;

  .user-photo {
    display: block;
    float: left;
    width: 120px;
    height: 150px;
    margin-right: 20px;
    border: 1px solid lightgray;
  }

  .user-info {

    .fio {
      font-size: 25px;
    }

    .position {
      //font-family: "Roboto Italic";
      font-size: 18px;
      color: #1A237E;
    }

    .phones {
      margin-top: 10px;
      color: black;

      .phone {
        font-size: 18px;
        color: #263238;
      }
    }

  }

}



#telephones-divisions {
  margin: 10px;
  background: white;
}


/********** ACCOUNT **********/
#user-account {
  height: 100% - @app-header-height;
  padding-top: @app-top-padding;
  box-sizing: border-box;


  #user-photo {
    padding-right: 30px;

    img {
      display: block;
      //width: 200px;
      //height: 350px;
      margin-bottom: 10px;
      border: 1px solid lightgray;
      box-sizing: border-box;
    }

  }

  #user-info {
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 1px dotted @ui-border-color;



    .field-label {
      display: block;
      overflow: hidden;
      margin-bottom: 7px;

      padding-bottom: 2px;
      font-size: 15px;
      border-bottom: 1px dotted #E0E0E0;
      box-sizing: border-box;
    }

    .field-value {
      display: block;
      //float: left;
      min-height: 35px;
      font-size: 18px;
      color: #01579B;

      &.empty {
        color: #9E9E9E;
      }
    }

    .surname {
      display: block;
      font-size: 40px;
      line-height: 35px;
    }

    .name-fname {
      display: block;
      font-size: 28px;
    }

    .position {
      display: block;
      font-size: 18px;
      color: #01579B;
    }
  }

}




/********** LOGIN **********/

#bg-layout {
  //display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  background: url("../images/powerlines-2.jpg");
  background-size: cover;
  //background-origin: content-box;
  -webkit-filter: blur(5px);
}


#app-login {
  position: relative;
  height: 100%;
  z-index: 2;
}


#login-form {
  position: absolute;
  display: block;
  width: 400px;
  background: white;
  border-radius: 2px;
  .box-shadow(1px, 1px, 20px, 1px, rgba(0, 0, 0, 0.2));

  .login-header {
    display: block;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    background: @color-blue;
    color: white;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .form-caption {
    font-size: 24px;
    text-align: center;
    color: black;
    //border-bottom: 1px solid @ui-border-color;
  }

  .login-errors {
    padding: 10px;
    background: @color-light-red;

    .login-error {
      display: block;
      padding-left: 30px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      //text-align: center;
      font-size: 14px;
      line-height: 13px;
      color: @color-red;

    }
  }


}


