/**********
** FONTS
*********/
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf");
}
/**********
** TEXT ALIGN
**********/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
/**********
** BLOCK FLOAT
**********/
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
/**********
** GRID
**********/
.row-container .row {
  box-sizing: border-box;
}
.row-container .row.split-5 {
  margin-bottom: 5px;
}
/**********
** WIDTH
**********/
.width-100 {
  width: 100%;
}
.width-90 {
  width: 90%;
}
/**********
** PADDINGS & MARGINS
**********/
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.split-top-5 {
  margin-top: 5px;
}
.split-bottom-5 {
  margin-bottom: 5px;
}
/**********
** FORMS
**********/
input {
  font-family: "Roboto Regular";
  font-size: 18px;
  border: 1px solid lightgrey;
}
input[type='text'],
input[type='password'] {
  padding: 7px;
  box-sizing: border-box;
}
/**********
** BUTTONS
**********/
input[type='button'],
input[type='submit'],
button {
  padding: 10px;
  border: none;
  cursor: pointer;
}
input[type='button'].rounded,
input[type='submit'].rounded,
button.rounded {
  border-radius: 5px;
}
/**********
** COLORS
**********/
.red {
  background-color: #F44336;
  color: white;
}
.red:hover {
  background-color: #D32F2F;
}
.light-red {
  background-color: #FFCDD2;
  color: #D50000;
}
.blue {
  background-color: #2196F3;
  color: white;
}
.blue:hover {
  background-color: #1976D2;
}
.light-blue {
  background-color: #BBDEFB;
  color: #0D47A1;
}
.green {
  background-color: #4CAF50;
  color: white;
}
.green:hover {
  background-color: #388E3C;
}
.light-green {
  background-color: #C8E6C9;
  color: #1B5E20;
}
.krypton-ui-calendar {
  overflow: auto;
  width: 295px;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}
.krypton-ui-calendar .toolbar {
  float: left;
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid black;
}
.krypton-ui-calendar .weekdays {
  float: left;
  height: 30px;
  box-sizing: border-box;
}
.krypton-ui-calendar .day {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  padding: 5px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: #F5F5F5;
  box-sizing: border-box;
}
.krypton-ui-calendar .day:hover {
  background: #EEEEEE;
}
.krypton-ui-calendar .day.weekday {
  font-size: 12px;
  background: transparent;
}
.krypton-ui-calendar .day.weekend {
  background: #FFCDD2 !important;
}
.krypton-ui-calendar .day.weekend:hover {
  background: #EF9A9A;
}
