@ui-border-color: lightgrey;

.gradient (@start-color, @end-color) {
  background-image: -moz-linear-gradient(top, @start-color, @end-color);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@start-color), to(@end-color));
  background-image: -webkit-linear-gradient(top, @start-color, @end-color);
  background-image: -o-linear-gradient(top, @start-color, @end-color);
  background-image: linear-gradient(to bottom, @start-color, @end-color);
}

.border-radius (@radius) {
     -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
          border-radius: @radius;
}



/**********
** FONTS
*********/

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf");
}



/**********
** TEXT ALIGN
**********/

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}



/**********
** BLOCK FLOAT
**********/

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


/**********
** GRID
**********/

.row-container {

  .row {
    //border: 1px solid black;
    box-sizing: border-box;

    &.split-5 {
      margin-bottom: 5px;
    }
  }
}



/**********
** WIDTH
**********/

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}



/**********
** PADDINGS & MARGINS
**********/

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.split-top-5 {
  margin-top: 5px;
}

.split-bottom-5 {
  margin-bottom: 5px;
}



/**********
** FORMS
**********/

input {
  font-family: "Roboto Regular";
  font-size: 18px;
  border: 1px solid @ui-border-color;
}

input[type='text'], input[type='password'] {
  padding: 7px;
  box-sizing: border-box;
}



/**********
** BUTTONS
**********/

input[type='button'], input[type='submit'], button {
  padding: 10px;
  border: none;
  cursor: pointer;

  &.rounded {
    border-radius: 5px;
  }
}



/**********
** COLORS
**********/

.red {
  background-color: #F44336;
  color: white;
  &:hover {
    background-color: #D32F2F;
  }
}

.light-red {
  background-color: #FFCDD2;
  color: #D50000;
}

.blue {
  background-color: #2196F3;
  color: white;
  &:hover {
    background-color: #1976D2;
  }
}

.light-blue {
  background-color: #BBDEFB;
  color: #0D47A1;
}

.green {
  background-color: #4CAF50;
  color: white;
  &:hover {
    background-color: #388E3C;
  }
}

.light-green {
  background-color: #C8E6C9;
  color: #1B5E20;
}