@ui-border-color: lightgrey;
@ui-input-height: 35px;

.gradient (@start-color, @end-color) {
  background-image: -moz-linear-gradient(top, @start-color, @end-color);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@start-color), to(@end-color));
  background-image: -webkit-linear-gradient(top, @start-color, @end-color);
  background-image: -o-linear-gradient(top, @start-color, @end-color);
  background-image: linear-gradient(to bottom, @start-color, @end-color);
}

.border-radius (@radius) {
     -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
          border-radius: @radius;
}

/**
*
**/
.box-shadow (@offset-x, @offset-y, @blur-radius, @spread-radius, @shadow-color) {
  -webkit-box-shadow: @offset-x @offset-y @blur-radius @spread-radius @shadow-color;
  -moz-box-shadow: @offset-x @offset-y @blur-radius @spread-radius @shadow-color;
  box-shadow: @offset-x @offset-y @blur-radius @spread-radius @shadow-color;
}



/**********
** FONTS
*********/

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf");
}



/**********
** TEXT ALIGN
**********/

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}



/**********
** BLOCK FLOAT
**********/

.left {
  float: left;
}

.right {
  float: right !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


/**********
** GRID
**********/

.row-container {

  .row {
    //border: 1px solid black;
    box-sizing: border-box;

    &.split-5 {
      margin-bottom: 5px;
    }
  }
}



/**********
** WIDTH
**********/

.width-100 {
  float: left;
  width: 100% !important;
}

.width-90 {
  float: left;
  width: 90%;
}

.width-70 {
  float: left;
  width: 70%;
}

.width-65 {
  float: left;
  width: 65%;
}

.width-60 {
  float: left;
  width: 60%;
}

.width-50 {
  float: left;
  width: 50%;
}

.width-33 {
  float: left;
  width: 33%;
}

.width-40 {
  float: left;
  width: 40%;
}

.width-35 {
  float: left;
  width: 35%;
}

.width-30 {
  float: left;
  width: 30%;
}

.width-25 {
  float: left;
  width: 25%;
}

.width-20 {
  float: left;
  width: 20%;
}

.width-15 {
  float: left;
  width: 15%;
}

.width-10 {
  float: left;
  width: 10%;
}


/**********
** PADDINGS & MARGINS
**********/

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.split-top-5 {
  margin-top: 5px;
}

.split-bottom-5 {
  margin-bottom: 5px;
}



/**********
** FORMS
**********/

input {
  font-family: "Roboto Regular";
  font-size: 18px;
  border: 1px solid @ui-border-color;
}

input[type='text'], input[type='password'] {
  padding: 7px;
  box-sizing: border-box;
}

select {
  height: @ui-input-height;
  padding: 7px;
  box-sizing: border-box;
  font-family: "Roboto Regular";
  font-size: 17px;
  text-align: center !important;
  border: 1px solid @ui-border-color;

  &.no-border {
    border: none;
  }

  option {
    padding: 10px;
    color: gray;
  }
}


/**********
** BUTTONS
**********/

input[type='button'], input[type='submit'], button {
  height: 35px;
  padding: 10px;
  border: none;
  cursor: pointer;
  line-height: 12px;
  box-sizing: border-box;

  &.rounded {
    border-radius: 5px;
  }

  &.big {
    height: 45px;
  }

  &.very-big {
    height: 60px;
  }
}



/**********
** COLORS
**********/

.red {
  background-color: #F44336;
  color: white;
  &:hover {
    background-color: #D32F2F;
  }
}

.light-red {
  background-color: #FFCDD2;
  color: #D50000;
}

.blue {
  background-color: #2196F3;
  color: white;
  &:hover {
    background-color: #1976D2;
  }
}

.light-blue {
  background-color: #BBDEFB;
  color: #0D47A1;
}

.green {
  background-color: #4CAF50;
  color: white;
  &:hover {
    background-color: #388E3C;
  }
}

.light-green {
  background-color: #C8E6C9;
  color: #1B5E20;
}