/**********
** TEXT ALIGN
**********/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
/**********
** BLOCK FLOAT
**********/
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
/**********
** GRID
**********/
/**********
** WIDTH
**********/
.width-100 {
  width: 100%;
}
.width-90 {
  width: 90%;
}
/**********
** PADDINGS
**********/
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
