<!-- BEGIN: main -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/../resources/styles/admin.css">
</head>
<body>
    <form id="" action="" class="row-container">
        <div class="row padding-10">
            <input type="text" class="width-100" placeholder="Имя пользователя">
        </div>
        <div class="row padding-10">
            <input type="text" class="width-100" placeholder="Пароль">
        </div>
        <div class="row padding-10">
            <button type="submit">Войти</button>
        </div>
    </form>
</body>
</html>
<!-- END: main -->