<!-- BEGIN: main -->
<!DOCTYPE html>
<html lang="en" ng-app="krypton.app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="resources/styles/application.css">
</head>
<body ng-controller="testController">
    <script id="krypton_init_data">
        var krypton = {
            session: {CURRENT_SESSION},
            user: {CURRENT_USER},
            settings: {SETTINGS}
        };
        console.log(krypton);
    </script>
    <script src="libs/angularjs/angular.min.js"></script>


    <div id="app-header">

    </div>
    <div id="app-wrapper">

        <div id="app-content">
            <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br>
            <input type="text"
                   style="display: block; margin-left: auto; margin-right: auto; width: 200px;"
                   id="testInput"
                   ui-date-time-picker
                   date-time-picker-enable-time="true"
                   ng-model="test">


            <br><br><br><br> <br><br><br><br> <br><br><br><br>
            <input type="text"
                   style="display: block; margin-left: auto; margin-right: auto; width: 200px;"
                   id="testInput2"
                   ui-date-time-picker
                   date-time-picker-modal="true"
                   ng-model="test2">


            <br><br><br><br> <br><br><br><br> <br><br><br><br>
            <input type="button"
                   style="display: block; margin-left: auto; margin-right: auto; width: 200px;"
                   id="testInput3"
                   ui-date-time-picker
                   ng-model="test2">
        </div>

    </div>


    <!--<input type="text" id="testInput2" ui-date-time-picker>-->

    <script src="libs/angularjs/angular-route.min.js"></script>
    <script src="libs/angularjs/angular-cookies.min.js"></script>
    <!-- <script src="libs/angularjs/angular-animate.min.js"></script> -->
    <script src="modules/krypton.app.js"></script>
    <script src="libs/krypton/krypton.js"></script>
    <script src="libs/krypton/krypton.ui.js"></script>
    <script src="libs/momentjs/moment-with-locales.min.js"></script>

</body>
</html>
<!-- END: main -->