<div class="row-container toolbar">
    <div class="width-25">
        <button class="blue width-100">&larr;</button>
    </div>
    <div class="width-50">&nbsp;</div>
    <div class="width-25">
        <button class="width-100 blue">&rarr;</button>
    </div>
</div>
<div class="weekdays">
    <div class="day weekday"
         ng-repeat="weekday in weekdays track by $index">
        {{ weekday }}
    </div>
</div>
<div class="day" ng-repeat="day in days track by $index" ng-class="{'weekend': ($index + 1) % 7 === 0}">{{$index}}</div>